body {
background-image: url
background-size: cover;
background-reapeat: no-reapeat;
background-attachment: fixed;
background-position: center center;
color: ;
font-family:Quicksand
text-aling: center;
margin: 0;
padding: 0;
}


#content {
background-color: rgba;
padding; 20px;
}

h1{
font-size: 36px;
margin-top: 20px;
}

p{ 
font-size: 20px;
max-width: 600px;
margin: 20px;
}
