body {
background-image: url
background-size: cover;
background-reapeat: no-reapeat;
background-attachment: fixed;
background-position: center center;
color: ;
font-family:Quicksand
text-aling: center;
margin: 50;
padding: 0;
}


#content {
background-color: rgba;
padding; 20px;
}

h1{
font-size: 36px;
margin-top: 20px;
}

p{ 
font-size: 20px;
max-width: 600px;
margin: 20px;
}

.button-container {
  text-aling: center; 
margin-top: 20;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #f00;
  color: Black;
  text-decoration: nome;
  font-weight: bold
  border: none;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: block;
}

.button:houver {
  background-color: #555;

}
